@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,300;6..72,400;6..72,500;6..72,600;6..72,800&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

a{
  text-decoration: none;
}
:root {
    --color1: #FFFF;
    --color2: #D4CDC8;
    --color3: #CAB5B1;
    --color4: #B7998E;
    --color5: #997E75;
    --color6: #795B4C;
}

.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 10px;
    background-color: #25d366;
    color: var(--color1);
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}

header {
    height: 100px;
    width: 100%;
    background-color: var(--color1);
    display: flex;
    flex-direction: row;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    align-items: center;
    justify-content: center;
}

header>img{
    height: 115%;
}


@media screen and (max-width: 768px) {
    .logo>img {
        margin-left: 0;
    }

    .container-header {
        height: 50px;
    }
}

*{
    margin: 0;
    padding: 0;

}

.containerproje{
    position: relative;
}

.containerproje .slider .slide{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 70px;
}

.containerproje .slider .slide .contentproje{
    flex: 1 1 350px;
    animation: slideContent .4s linear .4s backwards;
}

@keyframes slideContent{0%
{
    opacity: 0;
    transform: translateX(-50px);
}
}


.containerproje .slider .slide .contentproje h3{
    font-size: 35px;
    color: #f4a6fe;
    font-family: 'Noto Sans', sans-serif;
}

.containerproje .slider .slide .contentproje p{
    font-size: 16px;
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    width: 40%;
    height: 10%;

}

.containerproje .slider .slide .contentproje .bntproj{
    margin-top: 10px;
    display: inline-block;
    background: #8932c3;
    color: #ffffff;
    font-size: 17px;
    padding: 9px 40px;
    border-radius: 5px;
    border: 2px solid #8932c3;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
}

.containerproje .slider .slide .contentproje .bntproj:hover{
    background: #a355d7;
    border: 2px solid #a355d7;
    color: #ffffff;
}

.containerproje .slider{
    display: none;
}

.containerproje .slider.active{
    display: block;
}

.containerproje .slider:nth-child(1) .slide{
    background: url(./imagens/medium-shot-man-wearing-vr-glasses.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.containerproje .slider:nth-child(2) .slide{
    background: url(./imagens/woman-in-vr-glasses-float-in-neon-space-with-cables-attached-to-her-metaverse-avatar-concept.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.containerproje .slider:nth-child(3) .slide{
    background: url(./imagens/closeup-of-woman-in-vr-glasses-float-in-neon-space-with-cables-attached-to-her-metaverse-avatar-concept.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.containerproje #prev, 
.containerproje #next {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color: #ffffff;
    background: #890873;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 50px;
}

.containerproje #prev:hover, 
.containerproje #next:hover{
    background: #ee7bd3;
}
.containerproje #prev{
    left: 20px;
}

.containerproje #next{
    right: 20px;
}

.containerproje .slider .slide {
  padding: 0;
}

@media(max-width: 500px){
    .containerproje #prev{
        left: 0px;
        top: 60%;
    }

    .containerproje #next{
        right: 0px;
        top: 60%;
    }


    .containerproje .slider .slide .contentproje p{
        font-size: 16px;
        color: #ffffff;
        font-family: 'Noto Sans', sans-serif;
        width: 70%;
        height: 10%;
    
    }
}

.slider {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.slider img {
  width: 100%;
  height: auto;
}

.slider .slides {
  height: 100%;
  display: flex;
  width: 300%;
}

.slider .slide {
  height: 100%;
  width: 33.3333%;
  float: left;
  margin: auto 0;
}

.slider .dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.slider .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slider .dot.active {
  background-color: #717171;
}

.banner{
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;  
  background: rgb(255, 255, 255);
  background: linear-gradient(270deg, rgba(153, 126, 117, 0.664) 0%, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 1) 100%);
}
.banner>h1{
  position: absolute;
  font-size: 90px;
  color: white;
  text-align: end;
  width: 38%;
  letter-spacing: 5px;
  right: 50px;
  z-index: 0;
}

.banner>img{
  height: 70vh !important;
  width: auto !important;
  align-self: center;
  margin: auto;
  z-index: 5;
}

.texts-slide>h1{
  font-family: 'Newsreader', serif;
  font-size: 35px;
  margin: 15% 0 0  20%;
}

.texts-slide>h2{
  font-family: 'Montserrat', serif;
  color: white;
  background-color: #997E75;
  font-size: 40px;
  margin: 1.5rem 0;
  padding:  12px 20%;
}
.texts-slide>h3{
  font-family: 'Montserrat', serif;
  font-size: 24px;
  margin-left: 20%;
}

.texts-slide{
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

.btn-slide {
  background: var(--color5);
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 600; 
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 3px;
  border: none;
  width: fit-content;
  align-self: flex-end;
  margin: 2.5rem;
}

@media only screen and (max-width: 768px) {
  .all-info-course {
      display: none;
  }

  .text-info-course,
  .info-course-container {
      flex: 1;
  }
  .slide{
      width: 100vw;
  }
  .banner{
      height: 100%;
      width: 100vw;
      display: flex;
      overflow: hidden;  
      background: rgb(255, 255, 255);
      background: linear-gradient(270deg, rgba(153, 126, 117, 0.664) 0%, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 1) 100%);
  }
  .banner>h1{
      display: none;
      position: absolute;
      color: white;
      text-align: end;
      letter-spacing: 5px;
  }
  
  .slide>img{
      display: none;
  }
  
  .texts-slide>h1{
      align-self: center;
      margin: 10px;
      font-family: 'Newsreader', serif;
      font-size: 30px;
  }
  
  .texts-slide>h2{
      font-family: 'Montserrat', serif;
      color: white;
      background-color: #997E75;
      font-size: 20px;
      text-align: center;
      padding:  12px 20%;
      margin: 0;
  }
  .texts-slide>h3{
      font-family: 'Montserrat', serif;
      font-size: 20px;
      margin: 0;
      max-width: 100vw;
      padding: 20px;
      line-height: 28px;
  }
  
  .banner>img{
      display: none;
  }

  .texts-slide{
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 100%;
  }

  .btn-slide {
      align-self: center;
      margin: 2.5rem;
  }

  .slider{
      height: 70%;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 1.5rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.imagem {
  flex-basis: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.imagem img {
  max-width: 100%;
  height: auto;
  display: block;
}

.accordion {
  flex-basis: 50%;
  padding: 20px;
  box-sizing: border-box;
  width: 700px;
}

.accordion>h2 {
  color: var(--color5);
  margin-bottom: 1rem;
  font-family: 'Newsreader', serif;
  font-size: 2.5rem;
  font-weight: 300;
}

.accordion-item {
  margin-bottom: 20px;
}

.accordion-header {
  background-color: var(--color1);
  padding: 10px;
  cursor: pointer;
  font-family: 'Newsreader', serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--color1);
}

.accordion-header:hover {
  background-color: var(--color3);
}

.accordion-content {
  display: none;
  padding: 10px;
  font-family: 'Montserrat', serif;
  font-size: 15px;
}

.accordion-item.active .accordion-header {
  background-color: var(--color5);
}

.accordion-item.active .accordion-content {
  display: block;
}

.accordion-button{
  background-color: var(--color1)

}

@media only screen and (max-width: 767px) {
  .content {
      flex-direction: column;
      align-items: center;
  }

  .imagem,
  .accordion {
      flex-basis: 100%;
  }

  .imagem {
      width: 70%;
  }

  .accordion {
      width: 85%;
  }

  .accordion>h2 {
      font-size: 1.5rem;
  }

  .accordion-header {
      font-size: 20px;
  }
}

.owl-item {
  display: flex;
  justify-content: space-around;
}


.carousel-wrap {
  margin: 0px auto;
  padding: 0 5%;
  width: 80%;
  position: relative;
}

.owl-carousel .item {
  position: relative;
  z-index: 100;
  -webkit-backface-visibility: hidden;
}

/* end fix */
.owl-nav>div {
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}

.card {
  width: 270px;
  height: 405px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5rem;
  border-radius: 1rem;
  background-color: #fff;
  color: #000;
  background-size: cover;
  background-repeat: no-repeat;
}

.card>h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  color: var(--color1);
  font-weight: 700;
  margin-top: 20px;
  margin-left: 30px;
}

.btn-card {
  display: none;
  outline: none;
  border: none;
  font-family: 'Monstserrat', sans-serif;
  justify-content: center;
  font-weight: bolder;
  width: 80%;
  font-size: 20px;
  border-radius: 30px;
  padding: 15px;
  background-color: var(--color4);
  color: var(--color1);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 30px;
}

.card:hover {
  transition: all 0.5s ease;
  transform: scale(1.03);
}

.card:hover .btn-card {
  display: block;
}

.benefits-course {
  display: flex;
  width: 100%;
  height: 80%;
  background: linear-gradient(90deg, rgba(153, 126, 117, 1) 0%, rgba(212, 205, 200, 1) 50%, rgba(255, 255, 255, 1) 100%);
  margin-top: 2rem;
}

.benefits-container {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  width: 50%;
  display: grid;
}

.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.benefits img {
  width: 175px;
  height: auto;
  margin-top: 2rem;
}

.benefits h2 {
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  color: white;
  font-family: 'Newsreader', serif;
  font-size: 32px;
  letter-spacing: 1.5px;

}

.imagem-curso {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagem-curso>img {
  width: 70%;
  height: auto;
  border-radius: 1rem;
  max-height: 100%;
  max-width: 100%;
}

.left-benefits{
  display: flex; 
  align-items: center; 
  flex-direction: column; 
  justify-content: center; 
  width: 50%;
  color: var(--color1);
  margin-top: 2rem;
}

.left-benefits > h2{
  color: var(--color1);
  letter-spacing: 2px;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  .benefits-course {
      background: linear-gradient(0deg, var(--color5) 0%, var(--color3) 50%, var(--color2) 100%);
      height: 60%;
  }

  .benefits-container {
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      margin: 1rem;
      margin-left: 2rem;
  }

  .benefits h2 {
      position: static;
      background-color: transparent;
      padding: 0;
      text-align: left;
      font-size: 15px;
  }

  .benefits img {
      margin-bottom: 0;
      width: 120px;
      margin-bottom: 0rem;
  }

  .imagem-curso {
      display: none;
  }

  .benefits {
      margin-top: 0;

  }

  .left-benefits{
      width: 100%;
  }

  .left-benefits > h2{
      font-size: 20px;
      font-weight: bolder;
      color: var(--color1);
      font-family: 'Newsreader', sans-serif;
      letter-spacing: 1px;
      text-transform: uppercase;
  }

}

.footer-distributed {
  background: var(--color4);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px 'Montserrat', sans-serif;
  padding: 25px 15px;
  margin-top: 5rem;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}


.footer-distributed .footer-left {
  width: 40%;
}


.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Montserrat', sans-serif;
  margin: 0;
}


.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;


  font-size: 40px;
  color: var(--color5);
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}


.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: var(--color5);
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: var(--color5);
  font-weight: 700;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: var(--color5);
  text-decoration: none;
  ;
}


.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: var(--color5);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.footer-distributed .footer-icons{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}     

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;

  font-size: 40px;
  color: var(--color5);
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;


}

.footer-icons{
  gap: 30px;
}

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin:0 auto;
  }
  .footer-icons{

  }
  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}