@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,300;6..72,400;6..72,500;6..72,600;6..72,800&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

:root {
    --color1: #FFFF;
    --color2: #D4CDC8;
    --color3: #CAB5B1;
    --color4: #B7998E;
    --color5: #997E75;
    --color6: #795B4C;
}

.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 10px;
    background-color: #25d366;
    color: var(--color1);
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}

header {
    height: 100px;
    width: 100%;
    background-color: var(--color1);
    display: flex;
    flex-direction: row;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
}

.logo>img {
    margin: 0;
    width: 20%;
    margin-left: 10rem;
}


.carousel-wrap {
    margin: 0px auto;
    padding: 0 5%;
    width: 80%;
    position: relative;
  }
  
  /* fix blank or flashing items on carousel */
  .owl-carousel .item {
    position: relative;
    z-index: 100; 
    -webkit-backface-visibility: hidden; 
  }
  
  /* end fix */
  .owl-nav > div {
    position: absolute;
    top: 50%;
    color: #cdcbcd;
  }
  
  .owl-nav i {
    font-size: 52px;
  }
  
  .owl-nav .owl-prev {
    left: -30px;
  }
  
  .owl-nav .owl-next {
    right: -30px;
  }

@media screen and (max-width: 768px) {
    .logo>img {
        margin-left: 0;
    }

    .container-header {
        height: 50px;
    }
}

.title {
    font-size: 3rem;
    margin: 3rem 0rem;
}

.courses {
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff;
    cursor: pointer;
}

.curso {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.curso h3 {
    font-size: 1.8rem;
}

.conteudo {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;

}

.about-course {
    display: flex;
    width: 100%;
    height: 80%;
    background-color: var(--color5);
    padding: 0 10%;
    align-items: row;
}

.about-course>.container {
    display: flex;
    align-items: center;
}

.about-text {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: var(--color1);
    font-size: 15px;
    width: 70%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.course-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-selection>h1 {
    font-family: 'Newsreader', serif;
    font-size: 70px;
    font-weight: 300;
    color: var(--color5);
    padding: 5rem;
}

.card {
    width: 270px;
    height: 405px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5rem;
    border-radius: 1rem;
}

.card {
    background-color: #fff;
    color: #000;
    background-size: 100%;
    background-repeat: no-repeat;
}

.card>h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    color: var(--color1);
    font-weight: 700;
    margin-top: 20px;
    margin-left: 30px;
}

.btn-card {
    display: none;
    outline: none;
    border: none;
    font-family: 'Monstserrat', sans-serif;
    justify-content: center;
    font-weight: bolder;
    width: 80%;
    font-size: 20px;
    border-radius: 30px;
    padding: 15px;
    background-color: var(--color4);
    color: var(--color1);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 30px;
}

.card:hover {
    transition: all 0.5s ease;
    transform: scale(1.03);
}

.card:hover .btn-card {
    display: block;
}


.footer-distributed {
    background: var(--color4);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px 'Montserrat', sans-serif;
    padding: 25px 15px;
    margin-top: 5rem;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}


.footer-distributed .footer-left {
    width: 40%;
}


.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Montserrat', sans-serif;
    margin: 0;
}


.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 2px;


    font-size: 40px;
    color: var(--color5);
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-company-name {
    color: #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: var(--color5);
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: var(--color5);
    font-weight: 700;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: var(--color5);
    text-decoration: none;
    ;
}


.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: var(--color5);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.footer-distributed .footer-icons{
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }     

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 2px;

    font-size: 40px;
    color: var(--color5);
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;


}

.footer-icons{
    gap: 30px;
  }

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  
    .footer-distributed{
      font: bold 14px sans-serif;
    }
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
      display: block;
      width: 100%;
      margin:0 auto;
    }
    .footer-icons{

    }
    .footer-distributed .footer-center i{
      margin-left: 0;
    }

}
.container-counter{
    display: flex;
    width: 100%;
}

.counter-box {
    display: block;
    padding: 40px 20px 37px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color1);
    margin: 1rem;
    border-radius: 15px;
}

.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: var(--color5);
    font-size: 18px;
    font-weight: bolder;
}

.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: var(--color5);
    line-height: 28px
}


* {
    box-sizing: border-box;
}


.slider {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slider img {
    width: 100%;
    height: auto;
}

.slider .slides {
    display: flex;
    width: 300%;
}

.slider .slide {
    width: 33.3333%;
    float: left;
}

.slider .dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.slider .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slider .dot.active {
    background-color: #717171;
}

@media screen and (max-width: 768px) {
    .slider .slides {
        width: 200%;
    }

    .slider .slide {
        width: 50%;
    }

    #slide1{
        background-image: url("../curso-presencial/assets/Banner/Curso.png");
    }
}

@media screen and (max-width: 480px) {
    .slider .slides {
        width: 100%;
    }

    .slider .slide {
        width: 100%;
    }

    .slider .dots {
        bottom: 5px;
    }

    .slider .dot {
        height: 10px;
        width: 10px;
        margin: 0 3px;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 1.5rem;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.imagem {
    flex-basis: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.imagem img {
    max-width: 100%;
    height: auto;
    display: block;
}

.accordion {
    flex-basis: 50%;
    padding: 20px;
    box-sizing: border-box;
    width: 700px;
}

.accordion>h2 {
    color: var(--color5);
    margin-bottom: 1rem;
    font-family: 'Newsreader', serif;
    font-size: 2.5rem;
    font-weight: 300;
}

.accordion-item {
    margin-bottom: 20px;
}

.accordion-header {
    background-color: var(--color3);
    padding: 10px;
    cursor: pointer;
    font-family: 'Newsreader', serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--color1);
}

.accordion-header:hover {
    background-color: var(--color3);
}

.accordion-content {
    display: none;
    padding: 10px;
    font-family: 'Montserrat', serif;
    font-size: 15px;
}

.accordion-item.active .accordion-header {
    background-color: var(--color5);
}

.accordion-item.active .accordion-content {
    display: block;
}

@media only screen and (max-width: 767px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .imagem,
    .accordion {
        flex-basis: 100%;
    }

    .imagem {
        width: 70%;
    }

    .accordion {
        width: 85%;
    }

    .accordion>h2 {
        font-size: 1.5rem;
    }

    .accordion-header {
        font-size: 20px;
    }
}

.benefits-course {
    display: flex;
    width: 100%;
    height: 75%;
    background: linear-gradient(90deg, rgba(153, 126, 117, 1) 0%, rgba(212, 205, 200, 1) 50%, rgba(255, 255, 255, 1) 100%);
    margin-top: 2rem;
}

.benefits-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5rem;
    width: 50%;
    display: grid;
}

.benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.benefits img {
    width: 200px;
    height: auto;
}

.benefits h2 {
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    color: white;
    font-weight: 300;
    font-family: 'Newsreader', serif;
    font-size: 32px;
    letter-spacing: 1.5px;
}

.imagem-curso {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem-curso>img {
    width: 70%;
    height: auto;
    border-radius: 1rem;
    max-height: 100%;
    max-width: 100%;
}

.left-benefits{
    display: flex; 
    align-items: center; 
    flex-direction: column; 
    justify-content: center; 
    width: 50%;
    color: var(--color1);
    margin-top: 2rem;
}

.left-benefits > h2{
    color: var(--color1);
    letter-spacing: 2px;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 300;
}

@media only screen and (max-width: 768px) {
    .benefits-course {
        background: linear-gradient(0deg, var(--color5) 0%, var(--color3) 50%, var(--color2) 100%);
        height: 50%;
    }

    .benefits-container {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin: 1rem;
        margin-left: 2rem;
    }

    .benefits h2 {
        position: static;
        background-color: transparent;
        padding: 0;
        text-align: left;
        font-size: 15px;
    }

    .benefits img {
        margin-bottom: 0;
        width: 120px;
        margin-bottom: 0rem;
    }

    .imagem-curso {
        display: none;
    }

    .benefits {
        margin-top: 0;

    }

    .left-benefits{
        width: 100%;
    }

    .left-benefits > h2{
        font-size: 20px;
        font-weight: bolder;
        color: var(--color1);
        font-family: 'Newsreader', sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

}

.all-info-course {
    display: flex;
    width: 100%;
    height: 75%;
    background: #795B4C;
    padding: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.info-course-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 50%;
    display: grid;
    margin: 2rem;
}

.info-course {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: white;
    border-radius: 1rem;
}


.info-course p {
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    color: #795B4C;
    font-weight: bolder;
    font-family: 'Newsreader', serif;
    font-size: 20px;
    letter-spacing: 1px;
}

.counter {
    display: block;
    font-size: 40px;
    font-weight: 700;
    color: #795B4C;
    line-height: 28px;
    margin-top: 1.5rem;
}

.text-info-course {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.text-info-course>h2 {
    font-size: 16px;
    color: white;
    line-height: 1.5rem;
    font-weight: 300;
    letter-spacing: 1px;
}



@media only screen and (max-width: 768px) {
    .all-info-course {
        display: none;
    }

    .text-info-course,
    .info-course-container {
        flex: 1;
    }
}

  