@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@200;700&display=swap');

:root{
    --color1: #ffff;
    --color2: #EBE6E4;
    --color3: #C6B19B;
    --color4: #C5A394;
    --color5: #B18E65;
    --color6: #664D2F;

}

header{
    height: 100px;
    width: 100%;
    background-color: var(--color1);
	display: flex;
	align-items: center;
	justify-content: center;
    box-shadow: 0 0 5px #000000;
}
.logo{
	height: 100%;
    display: flex;
    align-items: center;
}
.logo>img{
	height: 70%;
}
.banner{
    display: flex;
	height: 60%;
	width: 100%;
	background-color: #EBE6E4;
	overflow: hidden;
    flex-direction: row;
}
.right-banner{
    width: 50%;
}

.left-banner{
    width: 50%;
}

.div-cards{
    display: flex;
    height: 60%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-cards > h1{
    font-size: 65px;
    color: var(--color6);
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    margin: 2rem;
}

.group-cards{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-bottom: 5rem;
}

.group-cards .card{
    padding: 1.5rem;
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
}

.card, .card-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card, .card-body > h1{
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    font-size: 15px;
    color: #7c7c7c;
    margin-bottom: 1rem;
}

.btn, .btn-primary{
    background-color: var(--color4);
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 5rem;
    margin: 0;
}

.btn-primary:hover{
    background-color: var(--color3);
}


.div-card2{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #B29385;
    flex-direction: column;
}

.group-card2{
    display: flex;
    flex-direction: row;
}
.card2{
    margin: 5rem;
    width: 400px;
    height: 400px;
    background-color: var(--color1);
    border-radius: 3rem;
    display: flex;

}

.card2-body > h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    color: #7c7c7c;
    margin: 1rem;
    margin-bottom: 1rem;
    margin-top: 0;
    text-align: center;
    margin-top: 60%;
}

.div-card2 > h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bolder;
    margin-top: 3rem;
    text-align: center;
}